.produtos__card{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.card__titulo{
   font-size: 0.875rem;
   color: #464646;
   font-weight: 500;
}

.card__preco{
   font-size: 1rem;
   color: #464646;
   font-weight: 700;
}

.card__botao{
   font-size: 1rem;
   color: #2a7ae4;
   font-weight: 700;
}

.card__botao:active, .card__botao:visited{
   color: #2a7ae4;
}

@media screen and (min-width: 0){
   .produtos__card{
      height: 249px;
      width: 156px;
   }
}

@media screen and (min-width: 768px){
   .produtos__card{
      height: 252px;
      width: 164px;
   }
}

@media screen and (min-width: 1024px){
   .produtos__card{
      height: 252px;
      width: 176px;
   }
}
