.cabecalho__pesquisar{
   align-items: center;
   display: flex;
   justify-content: center;

}

.pesquisar__input{
   background: #F5F5F5;
   border: none;
}

.pesquisar__input:focus{
   outline: 0;
}

@media screen and (min-width: 0){
   .pesquisar__input{
      display: none;
   }
}

@media screen and (min-width: 760px){
   .pesquisar__input{
      display: inline;
      width: 208px;
   }
   .cabecalho__pesquisar{
      background: #F5F5F5;
      border-radius: 20px;
      font-size: 0.9rem;
      height: 40px;
      width: 272px;
   }
}

@media screen and (min-width: 1024px){
   .cabecalho__pesquisar{
      background: #F5F5F5;
      border-radius: 20px;
      font-size: 0.9rem;
      height: 40px;
      width: 393px;
   }

   .pesquisar__input{
      width: 329px;
   }
}