.cabecalho__coluna1{
   align-items: center;
   display: flex;
}

@media screen and (min-width: 0){
   .cabecalho__coluna1{
      column-gap: 32px;
   }

   .cabecalho__img{
      width: 100px;
      height: 28px;
   }
}

@media screen and (min-width: 1024px){
   .cabecalho__img{
      width: 176px;
      height: 50px;
   }

   .cabecalho__coluna1{
      column-gap: 32px;
   }
}