.starwars{
   display: flex;
   justify-content: center;
}


@media screen and (min-width: 0){
   .starwars{
      margin-top: 16px;
      padding: 0 16px;
   }
}

@media screen and (min-width: 760px){
   .starwars{
      margin-top: 32px;
      padding: 0 32px;
   }
}

@media screen and (min-width: 1024px){
   .starwars{
      margin-top: 64px;
      padding: 0 152px;
   }
}