.institucional{
   display: flex;
   background-color: #EAF2FD;
   justify-content: center;
}

@media screen and (min-width: 0){
   .institucional{
      margin-top: 16px;
   }
}

@media screen and (min-width: 768px){
   .institucional{
      margin-top: 32px;
   }
}

@media screen and (min-width: 1024px){
   .institucional{
      margin-top: 64px;
   }
}