.institucional__nav{
   display: flex;
   flex-direction: column;
}

.nav__link{
   font-size: 1rem;
   color: #464646;
   padding-bottom: 24px;
}

@media screen and (min-width: 0){
   .institucional__nav{
      width: 100%;
      align-items: center;
   }
}

@media screen and (min-width: 768px){
   .institucional__nav{
      align-items: flex-start;
   }
}