.destaque{
   align-items: flex-end;
   background-image: url("../../img/banner-image.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   width: 100%;
}


@media screen and (min-width: 0){
   .destaque{
      height: 192px;
   }
}

@media screen and (min-width: 768px){
   .destaque{
      height: 352px;
   }
}
