.escolherCategoria__container{
   width: 1136px
}

@media screen and (min-width: 0){
   .escolherCategoria{
      display: flex;
      justify-content: center;
      margin-top: 16px;
      padding: 0 16px;
   }
}

@media screen and (min-width: 760px){
   .escolherCategoria{
      margin-top: 32px;
      padding: 0 32px;
   }
}

@media screen and (min-width: 1024px){
   .escolherCategoria{
      margin-top: 64px;
      padding: 0 152px;
   }
}